.Logo {
    border-color: #000;
    position: absolute;
    top: 0;
    padding: 0px 55px;
}

.Login {
    display: block;
    padding: 120px 70px;
    color: #ffffff;
    float: left;
    margin-right: 20px;   
}

.divider{
    width: 5px;
    height: auto;
    display:inline-block;
}