.Header {
    grid-area: HE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid #000;
    background-color: limegreen;
    border-style: none;
}

.avatar {
    margin-left: 95%;
}