.Panel {
    grid-area: PA;
    padding-left: 20px;
    border-right: 1px solid #000000;
    background-color: limegreen;
}

.logo {
    display: flex;
    align-items: center;
    width: 35px;
}

.links {
    align-items: center;
    margin: 10px 0;
    opacity: .7;
    transition: opacity .3s;
}

.links::hover {
    opacity: 1;
}