.Login  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    margin-top: 15%;
}

.Login2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block-start: 50px;
    margin-bottom: 35px;
}

.divider{
    width:53px;
    height:auto;
    display:inline-block;
}

.Logo {
    margin-top: 25px;
}